@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0; /* black text */
  --background-start-rgb: 255, 220, 220; /* pastel pink */
  --background-end-rgb: 255, 255, 255; /* lighter pink */
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255; /* white text */
    --background-start-rgb: 255, 220, 220; /* pastel pink */
    --background-end-rgb: 255, 255, 255; /* lighter pink */
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to top,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
